### Data Processing for Kaggle Earthquake data

In [12]:
# import libraries

import numpy as np
import pandas as pd
import datetime
import time

In [13]:
#import data for processing
data_earthquake =  pd.read_csv("database.csv")
data_earthquake.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [14]:
# Select desired columns , latitude, longitude, depth and magnitude, for analysis
data_earthquake = data_earthquake[['Date', 'Time','Longitude', 'Latitude', 'Depth', 'Magnitude']]
data_earthquake.head()

       Date      Time  Longitude  Latitude  Depth  Magnitude
0  1/2/1965  13:44:18    145.616    19.246  131.6        6.0
1  1/4/1965  11:29:49    127.352     1.863   80.0        5.8
2  1/5/1965  18:05:58   -173.972   -20.579   20.0        6.2
3  1/8/1965  18:49:43    -23.557   -59.076   15.0        5.8
4  1/9/1965  13:32:50    126.427    11.938   15.0        5.8

In [15]:
# Determine the length the date column
date_length= data_earthquake.Date.str.len()
date_length.value_counts()

9     14158
8      5024
10     4227
24        3
Name: Date, dtype: int64

In [16]:
#Determine length in the time column
time_length = data_earthquake.Time.str.len()
time_length.value_counts()

8     13622
7      9787
24        3
Name: Time, dtype: int64

### Result for Date and Time show that 3 data points are not in sync. So we have to determine which rows

In [17]:
# Date column analysis
date_indices = np.where([date_length==24])[1]
print('Date Indices with faulty data: ', date_indices)
data_earthquake.loc[date_indices]

Date Indices with faulty data:  [ 3378  7512 20650]

,Date,Time,Longitude,Latitude,Depth,Magnitude
3378,1975-02-23T02:58:41.000Z,1975-02-23T02:58:41.000Z,124.075,8.017,623.0,5.6
7512,1985-04-28T02:53:41.530Z,1985-04-28T02:53:41.530Z,-71.766,-32.998,33.0,5.6
20650,2011-03-13T02:23:34.520Z,2011-03-13T02:23:34.520Z,142.344,36.344,10.1,5.8

In [18]:
# Time column analysis
time_indices = np.where([time_length==24])[1]
print('Time Indices with faulty data: ', time_indices)
data_earthquake.loc[time_indices]

Time Indices with faulty data:  [ 3378  7512 20650]

,Date,Time,Longitude,Latitude,Depth,Magnitude
3378,1975-02-23T02:58:41.000Z,1975-02-23T02:58:41.000Z,124.075,8.017,623.0,5.6
7512,1985-04-28T02:53:41.530Z,1985-04-28T02:53:41.530Z,-71.766,-32.998,33.0,5.6
20650,2011-03-13T02:23:34.520Z,2011-03-13T02:23:34.520Z,142.344,36.344,10.1,5.8

### Convert Date and Time into appropriate values in terms of DD/MM/YYYY and HH:MM:SS

In [19]:
# Re-adjusting the affected rows in the Date column
data_earthquake.loc[3378, 'Date'] = "02/23/1975"
data_earthquake.loc[7512, 'Date'] = "04/28/1985"
data_earthquake.loc[20650, 'Date'] = "03/13/2011" 
data_earthquake.loc['date_parsed'] = pd.to_datetime(data_earthquake['Date'], format="%m/%d/%Y")

In [9]:
# Re-adjusting the affected rows in the Time column
data_earthquake.loc[3378, 'Time'] = "02:58:41"
data_earthquake.loc[7512, 'Time'] = "02:53:41"
data_earthquake.loc[20650, 'Time'] = "02:23:34" 
data_earthquake.loc['Time_parsed'] = pd.to_datetime(data_earthquake['Time'], format="%H:%M:%S")

In [22]:
# Show updated table
data_earthquake.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23413 entries, 0 to date_parsed
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23412 non-null  object
 1   Time       23412 non-null  object
 2   Longitude  23412 non-null  object
 3   Latitude   23412 non-null  object
 4   Depth      23412 non-null  object
 5   Magnitude  23412 non-null  object
dtypes: object(6)
memory usage: 1.3+ MB

In [23]:
# Determine if there are Nan values
data_earthquake.isna().sum()

Date         1
Time         1
Longitude    1
Latitude     1
Depth        1
Magnitude    1
dtype: int64

In [26]:
# Remove entire row with NaN vlaues
data_earthquake_df = data_earthquake.dropna(how = 'all')
data_earthquake_df

             Date      Time Longitude Latitude  Depth Magnitude
0        1/2/1965  13:44:18   145.616   19.246  131.6       6.0
1        1/4/1965  11:29:49   127.352    1.863   80.0       5.8
2        1/5/1965  18:05:58  -173.972  -20.579   20.0       6.2
3        1/8/1965  18:49:43   -23.557  -59.076   15.0       5.8
4        1/9/1965  13:32:50   126.427   11.938   15.0       5.8
...           ...       ...       ...      ...    ...       ...
23407  12/28/2016   8:22:12 -118.8941  38.3917   12.3       5.6
23408  12/28/2016   9:13:47 -118.8957  38.3777    8.8       5.5
23409  12/28/2016  12:38:51  140.4262  36.9179   10.0       5.9
23410  12/29/2016  22:30:19  118.6639  -9.0283   79.0       6.3
23411  12/30/2016  20:08:28  141.4103  37.3973  11.94       5.5

[23412 rows x 6 columns]

In [27]:
data_earthquake_df.isna().sum()

Date         0
Time         0
Longitude    0
Latitude     0
Depth        0
Magnitude    0
dtype: int64